# macOS
##############################
# Icon must end with two \r
Icon?
# Thumbnails
._*
# .DS_Store files
.DS_Store
# macOS Finder locks folder
.Trashes
# macOS folder attributes
.AppleDouble
.LSOverride

# VS Code
##############################
.vscode/*
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json
# Workspace file
*.code-workspace

# Python
# ##############################
__pycache__/
*.py[cod]
*.egg-info/

# Logs
##############################
logs
*.log
npm-debug.log*

# Build directories
##############################
build/
dist/

# Temporary files
##############################
*.tmp
*.temp
*.bak
discarded_tests/

# Ignore all CSV, TXT, PDF and XLSX files
##############################
*.csv
*.pdf
*.txt
*.xlsx

# But keep requirements.txt
!requirements.txt
